{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsDashboard": "UseDevelopmentStorage=true",
    "EktepaktUserName": "",
    "EktepaktPassword": "",
    "EktepaktUri": "",
    "RegnskapsregisteretUri": "", //
    "RegnskapsregisteretPw": "",
    "RegnskapsregisteretUsername": ""
  },
  "ConnectionStrings": {
  }
}
